apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: frameforge
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: auth-service
