apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: frameforge
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: http
    protocol: TCP
    name: http
  - port: 9092
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    app: notification-service
