apiVersion: v1
kind: Service
metadata:
  name: video-processor
  namespace: frameforge
  labels:
    app: video-processor
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: http
    protocol: TCP
    name: http
  - port: 9091
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    app: video-processor
